
body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg-light-gray {
    background-color: #f8f9fa; /* A light gray background color */
  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 100px; /* Adjust size as needed */
    background-color: transparent; /* Ensure logo has no unintended background */
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    font-weight: bold;
    font-size: 2rem; 
    padding: 10px 0; 
  }
  
  .container, .container-fluid {
    padding: 0 15px;
  }
  
  .footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* Light gray background for footer */
    color: #343a40; /* Dark gray color for text */
    text-align: center;
    padding: 10px 0;
  }
  